<h1>all cats</h1>
<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= cat.name %>
    <a href="<%= cat_url(cat) %>%"> (view) </a>
      <ul>
        <li><%= cat.birth_date %> </li>
        <li><%= cat.sex %> </li>
      </ul>
    </li>
  <% end %>
</ul>