<form action="<%= cats_url %>" method="POST"> 

  <h1> Create a new Kitty </h1>
    <label for="name"> Name: </label>
      <input type="text" id="name" name="cat[name]">
  <br>
    <label for="sex"> Sexx: </label>
      M <input type="radio" id="sex" value="M" name="cat[sex]">
      F <input type="radio" id="sex" value="F" name="cat[sex]">

  <br>
    <label for="color"> Coleur: </label>
      <select name="cat[color]" id="color">
      <option value="color"> --select a color-- </option>
        <% Cat.colors.each do |c| %>
          <option value="<%= c %>"> <%=  c %> </option>
        <% end %>
      </select>
  <br>
    <label for="birth_date"> Birth Dizzle: </label>
      <input type="date" id="birth_date"  name="cat[birth_date]">
  <br>
    <label for="description"> Description: </label>
      <input type="textarea" id="description" name="cat[description]">
  <br>

  <input type="submit" value="meow meow meow">
</form>